In [1]:
%config Completer.use_jedi = False
import pandas as pd

In [2]:
species_df = pd.read_csv('./data/343taxa_species-name_clade-name_color-code.txt', sep='\t')
print(species_df.columns)
species_df

Index(['ID', 'original_genome_id', 'old_species_names', 'species_names_fig2',
       'hex', 'id_table S1', 'Species name', 'Major clade', 'clade_order',
       'Family', 'Genus', 'CUG usage'],
      dtype='object')

,ID,original_genome_id,old_species_names,species_names_fig2,hex,id_table S1,Species name,Major clade,clade_order,Family,Genus,CUG usage
0,1,saprochaete_clavata,Saprochaete_clavata,Saprochaete_clavata,#FF2800,22,Saprochaete clavata,Dipodascaceae/Trichomonascaceae,3,Dipodascaceae,Saprochaete,Leu
1,2,yHMPu5000034974_deakozyma_indianensis_160519,yHMPu5000034974_Deakozyma_indianensis,Deakozyma_indianensis,#FF2800,39,Deakozyma indianensis,Dipodascaceae/Trichomonascaceae,3,Saccharomycetales incertae sedis,Deakozyma,Leu
2,3,clavispora_lusitaniae,Clavispora_lusitaniae,Clavispora_lusitaniae,#FFd200,135,Clavispora lusitaniae,CUG-Ser1,8,Metschnikowiaceae,Clavispora,Ser
3,4,yHMPu5000034999_cephaloascus_fragrans_160519,yHMPu5000034999_Cephaloascus_fragrans,Cephaloascus_fragrans,#FFd200,204,Cephaloascus fragrans,CUG-Ser1,8,Cephaloascaceae,Cephaloascus,Ser
4,5,yHMPu5000034998_cephaloascus_albidus_160519,yHMPu5000034998_Cephaloascus_albidus,Cephaloascus_albidus,#FFd200,205,Cephaloascus albidus,CUG-Ser1,8,Cephaloascaceae,Cephaloascus,Ser
...,...,...,...,...,...,...,...,...,...,...,...,...
338,339,Saitoella_complicata,Saitoella_complicata,Saitoella_complicata,#050f07,339,Saitoella complicata,outgroup,0,outgroup,outgroup,Leu
339,340,sclerotinia_sclerotiorum,Sclerotinia_sclerotiorum,Sclerotinia_sclerotiorum,#050f07,340,Sclerotinia sclerotiorum,outgroup,0,outgroup,outgroup,Leu
340,341,stagonospora_nodorum,Stagonospora_nodorum,Stagonospora_nodorum,#050f07,341,Stagonospora nodorum,outgroup,0,outgroup,outgroup,Leu
341,342,xylona_heveae,Xylona_heveae,Xylona_heveae,#050f07,342,Xylona heveae,outgroup,0,outgroup,outgroup,Leu
342,343,schizosaccharomyces_pombe,Schizosaccharomyces_pombe,Schizosaccharomyces_pombe,#050f07,343,Schizosaccharomyces pombe,outgroup,0,outgroup,outgroup,Leu

In [3]:
filtered_df = species_df[['ID', 'Species name', 'Major clade']]
display(filtered_df.head())

   ID           Species name                      Major clade
0   1    Saprochaete clavata  Dipodascaceae/Trichomonascaceae
1   2  Deakozyma indianensis  Dipodascaceae/Trichomonascaceae
2   3  Clavispora lusitaniae                         CUG-Ser1
3   4  Cephaloascus fragrans                         CUG-Ser1
4   5   Cephaloascus albidus                         CUG-Ser1

In [4]:
filtered_df[filtered_df['Species name'].str.lower().isin(['cyberlindnera saturnus', 'lipomyces arxii'])]

      ID            Species name       Major clade
203  204         Lipomyces arxii    Lipomycetaceae
240  241  Cyberlindnera saturnus  Phaffomycetaceae

In [5]:
# This shows that the txt species file's rows are not grouped by clade
filtered_df.iloc[220:240]

      ID                   Species name       Major clade
220  221           Candida vartiovaarae  Phaffomycetaceae
221  222                   Candida orba  Phaffomycetaceae
222  223         Candida stellimalicola  Phaffomycetaceae
223  224         Cyberlindnera fabianii  Phaffomycetaceae
224  225          Cyberlindnera jadinii  Phaffomycetaceae
225  226        Cyberlindnera americana  Phaffomycetaceae
226  227            Komagataella populi        Pichiaceae
227  228    Komagataella pseudopastoris        Pichiaceae
228  229     Phaffomyces thermotolerans  Phaffomycetaceae
229  230        Phaffomyces antillensis  Phaffomycetaceae
230  231           Phaffomyces opuntiae  Phaffomycetaceae
231  232              Starmera quercuum  Phaffomycetaceae
232  233           Starmera amethionina  Phaffomycetaceae
233  234       Wickerhamomyces anomalus  Phaffomycetaceae
234  235  Wickerhamomyces hampshirensis  Phaffomycetaceae
235  236     Wickerhamomyces canadensis  Phaffomycetaceae
236  237       Wickerhamomyces ciferrii  Phaffomycetaceae
237  238             Candida ponderosae  Phaffomycetaceae
238  239         Barnettozyma pratensis  Phaffomycetaceae
239  240       Barnettozyma hawaiiensis  Phaffomycetaceae

In [6]:
# Get rid of outgroup species
filtered_df = filtered_df[filtered_df['Major clade'].isin([
'Pichiaceae',
'Dipodascaceae/Trichomonascaceae',
'Trigonopsidaceae',
'CUG-Ser1',
'CUG-Ser2',
'Saccharomycodaceae',
'Lipomycetaceae',
'Phaffomycetaceae',
'Saccharomycetaceae',
'Sporopachydermia clade',
'Alloascoideaceae',
'CUG-Ala'
])]

filtered_df[filtered_df['Major clade'] == 'outgroup']

Empty DataFrame
Columns: [ID, Species name, Major clade]
Index: []

In [7]:
# Group clades together
species_df_sorted = filtered_df.sort_values('Major clade')
species_df_sorted.head(20)

      ID                    Species name       Major clade
249  250          Alloascoidea hylecoeti  Alloascoideaceae
110  111              Nakazawaea holstii           CUG-Ala
109  110              Nakazawaea peltata           CUG-Ala
126  127          Pachysolen tannophilus           CUG-Ala
32    33               Peterozyma xylosa           CUG-Ala
33    34             Peterozyma toletana           CUG-Ala
67    68       Metschnikowia hawaiiensis          CUG-Ser1
73    74       Metschnikowia arizonensis          CUG-Ser1
72    73          Metschnikowia ipomoeae          CUG-Ser1
71    72             Spathaspora gorwiae          CUG-Ser1
70    71         Spathaspora hagerdaliae          CUG-Ser1
69    70              Spathaspora girioi          CUG-Ser1
68    69                   Candida sojae          CUG-Ser1
66    67           Metschnikowia similis          CUG-Ser1
65    66         Metschnikowia bowlesiae          CUG-Ser1
63    64        Metschnikowia mauinuiana          CUG-Ser1
74    75  Metschnikowia matae var. matae          CUG-Ser1
62    63           Metschnikowia proteae          CUG-Ser1
61    62        Metschnikowia kamakouana          CUG-Ser1
60    61  Metschnikowia drakensbergensis          CUG-Ser1

In [8]:
ordered_species_names = species_df_sorted['Species name'].tolist()

from Bio import SeqIO
CHC_records = list(SeqIO.parse('./data/CHC1.fasta', 'fasta'))

In [9]:
# There are more species sequences 
print(f'Number of species in original txt file DataFrame: {len(species_df)}')
print(f'Number of species in filtered and sorted DataFrame: {len(species_df_sorted)}')
print(f'Number of species in unorganized CHC FASTA file: {len(CHC_records)}')

Number of species in original txt file DataFrame: 343
Number of species in filtered and sorted DataFrame: 332
Number of species in unorganized CHC FASTA file: 345